{# This template should work for both event and talk comments #}
{# {{ dump(comment) }} #}

<li class="comment" id="comment-{{ hash(comment.comment_uri)|slice(1,7) }}">
    <div class="comment-body">
        {{ comment.comment }}
    </div>
    <div class="info">
        by {{ comment.user_display_name }}
        at {{ comment.created_date|date('H:i \\o\\n j M Y') }}
        via {{ comment.source }}
    </div>
</li>
