{# This template should work for both event and talk comments #}

<li>
    <div class="media">
        <section class="comment-{{ comment.data.id }}">
            {% if comment.getRating is not null %}
                {% include '_common/rating.html.twig' with {'rating': comment.getRating} %}
            {% endif %}

            {% if comment.getUserDisplayName %}
                {{ comment.getUserDisplayName }}
                {% for speaker in talk.speakers %}
                    {%  if speaker.speaker_uri is not null and speaker.speaker_uri == comment.getUserUri %}
                    <strong>(Speaker)</strong>
                    {% endif %}
                {% endfor %}
            {% else %}
                Anonymous
            {% endif %}

            <p class="meta">
                at {{ comment.getCommentDate|date('H:i \\o\\n j M Y') }}
                {% if comment.getCommentSource is not null %}<br />via {{ comment.getCommentSource }}{% endif %}
            </p>
        </section>
        <section>

            <p>
                {{ comment.comment | nl2br }}
            </p>
        </section>
    </div>

    <div class="meta">

    </div>
</li>
