{# This template should work for both event and talk comments #}
{#{{ dump(comment) }}#}

<li>
    <div class="media">
        <section>
            {% if comment.rating %}
                {% include '_common/rating.html.twig' with {'rating': comment.rating} %}
            {% endif %}

            {% if comment.getUserDisplayName %}
                {{ comment.getUserDisplayName }}
            {% else %}
                Anonymous
            {% endif %}

            <p class="meta">
                at {{ comment.created_date|date('H:i \\o\\n j M Y') }}
                {% if comment.source %}via {{ comment.source }}{% endif %}
            </p>
        </section>
        <section>

            <p>
                {{ comment.comment | nl2br }}
            </p>
        </section>
    </div>

    <div class="meta">

    </div>
</li>