{# This template should work for both event and talk comments #}
{# {{ dump(comment) }} #}

<li class="comment" id="comment-{{ hash(comment.comment_uri)|slice(1,7) }}">
    <div class="comment-body">
        {{ comment.comment }}
    </div>
    <div class="info">
        by {% if comment.user_display_name %}{{ comment.user_display_name }}{%  else %}Anonymous{% endif %}
        at {{ comment.created_date|date('H:i \\o\\n j M Y') }}
        {% if comment.source %}via {{ comment.source }}{% endif %}
    </div>
</li>
