<div class="media">

    <section>
        <h3 class="header">
            <a href="{{ event.getUrl }}">{{ event.getName }}</a>
        </h3>

        <p class="meta">
            {{ event.getStartDate|date('M d Y') }}
            {%  if event.getStartDate|date('M d Y')
                    is not sameas(event.getEndDate|date('M d Y')) %}
                &ndash; {{ event.getEndDate|date('M d Y') }}
            {% endif %}

            |

            <a href="{{ event.getUrl }}#comments">
                {{ event.getCommentsCount}} comments</a> |
            {{ event.getAttendeeString|escape }}
            <!--| <a href="" class="button">I'm attending</a>-->
        </p>
    </section>

</div>
