{%
set eventUrl = urlFor(
    'event-detail', {"friendly_name": event.getUrlFriendlyName}
)
%}

<div class="media">
    <section>
        <div class="logo">
            <a href="{{ eventUrl }}">
                <img src="{{ event.getIcon|img_path("event_icons") }}" alt=" " />
            </a>
        </div>
    </section>

    <section>
        <h3 class="header">
            <a href="{{ eventUrl }}">{{ event.getName }}</a>
        </h3>

        <p class="meta">

        </p>

        <p class="wideOnly">
            {{ event.getDescription | slice(0, 200)}}&hellip;
        </p>

        <p class="meta">
            {{ event.getStartDate|date('M d Y') }}
            {%  if event.getStartDate|date('M d Y')
                    is not sameas(event.getEndDate|date('M d Y')) %}
                &ndash; {{ event.getEndDate|date('M d Y') }}

            {% endif %}

            {% if event.getLocation %}
                @ {{event.getLocation|escape}}
            {% endif %}

            |

            <a href="{{ eventUrl }}#comments">
                {{ event.getCommentsCount}} comments
            </a>

            <span id="event-{{ event.getUrlFriendlyName|escape }}" class="attending">
                {% include 'Event/_common/attending_string.html.twig' %}

                {% if event.isAttending == false and user %}
                    {% set attendingUrl = urlFor('event-attend', {"friendly_name": event.getUrlFriendlyName }) ~ "?" %}

                    {% if page > 0 %}
                        {% set attendingUrl = attendingUrl ~ "page=" ~ page|escape ~ "&" %}
                    {% endif %}

                    {% if keyword is defined %}
                        {% set attendingUrl  = attendingUrl ~ "keyword=" ~ keyword|escape %}
                    {% endif %}

                    <a href="{{ attendingUrl }}" data-friendly-name="{{ event.getUrlFriendlyName|escape }}" class="button">
                        {% if event.isPastEvent %}
                          I attended
                        {% else %}
                          I'm attending
                        {% endif %}
                    </a>
                {% endif %}
            </span>
        </p>
    </section>

</div>
