<form method="POST" action="{{ urlFor('user-login') }}">
    {% if flash.getMessages.message %}
        <div class="alert alert-success">{{flash.getMessages.message}}</div>
    {% endif %}
    {% if flash.getMessages.error %}
        <div class="alert alert-danger">{{flash.getMessages.error}}</div>
    {% endif %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Log in">
        <a class="btn btn-link" href="{{ urlFor('user-register') }}">or register now</a>
    </div>
    <div>
        Problems logging in? <a class="btn btn-link" href="{{ urlFor('user-resend-verification') }}">Resend welcome email</a>
        <a class="btn btn-link" href="{{ urlFor('user-username-reminder') }}">Forgotten username</a>
    </div>
    <input type="hidden" name="redirect" value="{{ redirect }}">
</form>
