<form method="POST" action="{{ urlFor('user-login') }}">
    {% if flash.getMessages.message %}
        <div class="alert alert-success">{{flash.getMessages.message | raw}}</div>
    {% endif %}
    {% if flash.getMessages.error %}
        <div class="alert alert-danger">{{flash.getMessages.error | raw}}</div>
    {% endif %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Log in">
        <a class="btn btn-link" href="{{ urlFor('user-register') }}">or register now</a>
    </div>
    <div class="form-group alternative-login">
        <div class="already-registered">Already registered?</div>
        <a href="{{ urlFor('twitter-login') }}"><img src="/img/sign-in-with-twitter.png" alt="Sign in with Twitter"></a>
        <a href="{{ facebookLoginUrl() }}"><img src="/img/login-with-facebook.png" alt="Log In with Facebook"></a>
    </div>
    <div>
        Problems logging in? <br>
        <a href="{{ urlFor('user-resend-verification') }}">Resend&nbsp;welcome&nbsp;email</a><br>
        <a href="{{ urlFor('user-password-reset') }}">Forgotten&nbsp;password</a><br>
        <a href="{{ urlFor('user-username-reminder') }}">Forgotten&nbsp;username</a>
    </div>
    <input type="hidden" name="redirect" value="{{ redirect ? redirect : getCurrentUrl() }}">
</form>
