{% extends '/layout.html.twig' %}

{% block title %}{{ talk.getTitle }} - {{ event.getName }} - Joind.in{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript">
        $('#rating_widget').bind('over', function (event, value) {
            if (value) {
                $("#rating_value").html($("#rating option[value='"+value+"']").text());
            } else {
                $("#rating_value").html($("#rating option:selected").text())
            }
        });
        $('#rating_widget').bind('rated', function (event, value) { $("#rating_value").html($("#rating option[value='"+value+"']").text()) });
    </script>
{% endblock %}

{% block body %}
    {% include 'Talk/_common/talk_header.html.twig' %}
    <section>
        <p>{{ talk.getDescription | nl2br }}</p>
    </section>

    <section id="comments">
        <h2>{{msg.comments}}</h2>
        {% if talk.areCommentsEnabled %}
            {% if flash.getMessages.message %}
                <div class="alert alert-success">{{flash.getMessages.message}}</div>
            {% endif %}
            <div class="row" id="add-comment">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                    {% if user %}
                        <div class="panel-heading">
                            <h2 class="panel-title">{{msg.write_a_comment}}</h2>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="{{ urlFor('talk-add-comment', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}">
                                {% if flash.getMessages.error %}
                                    <div class="alert alert-danger">{{flash.getMessages.error}}</div>
                                {% endif %}
                                <div class="rating-vote-container">
                                    <div id="rating_container" class="form-group">
                                        <label for="rating">{{msg.rate_the_talk}}:</label>
                                        <select id="rating" name="rating">
                                            <option value="0"></option>
                                            <option value="1">{{msg.rating_1}}</option>
                                            <option value="2">{{msg.rating_2}}</option>
                                            <option value="3">{{msg.rating_3}}</option>
                                            <option value="4">{{msg.rating_4}}</option>
                                            <option value="5">{{msg.rating_5}}</option>
                                        </select>
                                        <br>
                                        <div class="rateit" id="rating_widget" data-rateit-backingfld="#rating" data-rateit-starwidth="23" data-rateit-starheight="21" data-rateit-resetable="false"></div>
                                        <div id="rating_value"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment">{{msg.your_comment}}:</label>
                                    <textarea id="comment" class="form-control" name="comment" rows="7"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">{{msg.submit_comment}}</button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="panel-heading">
                            <h2 class="panel-title">{{msg.please_log_in}}</h2>
                        </div>
                        <div class="panel-body">
                            {%  include '_common/login.html.twig'  %}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>{{msg.comments_are_closed}}</p>
        {% endif %}
        
        {% if comments %}
            {% for comment in comments %}
                {% include '_common/comment.html.twig' with {'comment': comment, 'talk': talk }%}
            {% endfor %}
        {% endif %}
    </section>

{% endblock %}

{% block extraAside %}
{% endblock %}
