{% extends '/layout.html.twig' %}

{% block extra_javascript %}
    <script type="text/javascript">
        $('#rating_widget').bind('over', function (event, value) {
            if (value) {
                $("#rating_value").html($("#rating option[value='"+value+"']").text());
            } else {
                $("#rating_value").html($("#rating option:selected").text())
            }
        });
        $('#rating_widget').bind('rated', function (event, value) { $("#rating_value").html($("#rating option[value='"+value+"']").text()) });
    </script>
{% endblock %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}
    <section>
        <h3>
            {{ talk.getTitle }}
            {% if talk.getType != 'Talk' %}
                <span class="label talk-type-label {{ talk.getTypeClass }}">{{ talk.getType }}</span>
            {% endif %}
        </h3>
        {% if talk.getSpeakers %}
            <h4>
                {% for speaker in talk.getSpeakers %}
                    {% set comma = "" %}
                    {% if not loop.last %}
                        {% set comma = "," %}
                    {% endif %}

                    {% if speaker.username %}
                        <a href="{{ urlFor('user-profile', {'username': speaker.username}) }}">{{ speaker.speaker_name }}</a>{{comma}}
                    {% else %}
                        {{ speaker.speaker_name }}{{comma}}
                    {% endif %}
                {% endfor %}
                <small>{{ talk.getStartDateTime()|date('j F Y \\a\\t H:i', event.getFullTimezone) }} &mdash; {{ talk.language }}</small>
            </h4>
        {% endif %}

        <ul class="list-inline">
            {% if talk.slidesLink is not empty %}<li><a href="{{ talk.slidesLink }}">View Slides</a></li>{% endif %}
        </ul>

        <p>{{ talk.getDescription | nl2br }}</p>
    </section>

    <section id="comments">
        <h2>Comments</h2>
        {% if talk.areCommentsEnabled %}
            {% if flash.getMessages.message %}
                <div class="alert alert-success">{{flash.getMessages.message}}</div>
            {% endif %}
            <div class="row" id="add-comment">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                    {% if user %}
                        <div class="panel-heading">
                            <h2 class="panel-title">Write a comment</h2>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="{{ urlFor('talk-add-comment', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}">
                                {% if flash.getMessages.error %}
                                    <div class="alert alert-danger">{{flash.getMessages.error}}</div>
                                {% endif %}
                                <div class="rating-vote-container">
                                    <div id="rating_container" class="form-group">
                                        <label for="rating">Rate the talk:</label>
                                        <select id="rating" name="rating">
                                            <option value="0"></option>
                                            <option value="1">Needed more work</option>
                                            <option value="2">Had potential</option>
                                            <option value="3">Worth hearing</option>
                                            <option value="4">Great info &amp; insight</option>
                                            <option value="5">Brilliant!</option>
                                        </select>
                                        <br>
                                        <div class="rateit" id="rating_widget" data-rateit-backingfld="#rating" data-rateit-starwidth="23" data-rateit-starheight="21" data-rateit-resetable="false"></div>
                                        <div id="rating_value"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Your comment:</label>
                                    <textarea id="comment" class="form-control" name="comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit comment</button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="panel-heading">
                            <h2 class="panel-title">Please log in to comment on this event.</h2>
                        </div>
                        <div class="panel-body">
                            {%  include '_common/login.html.twig'  %}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>Comments are closed.</p>
        {% endif %}
        
        {% if comments %}
            {% for comment in comments %}
                {% include '_common/comment.html.twig' with {'comment': comment, 'talk': talk }%}
            {% endfor %}
        {% endif %}
    </section>

{% endblock %}

{% block extraAside %}
    <section>
        {% include '_common/rating.html.twig' with {'rating': talk.getAverageRating, 'style': 'vertical'} %}
    </section>
    <section class="short-url">
        <label class="control-label">Short URL:</label>
        <p><a href="{{ shortUrlForTalk(talk.getStub) }}">{{ shortUrlForTalk(talk.getStub) }}</a></p>
    </section>
{% endblock %}
