{% extends '/layout.html.twig' %}

{% block title %}{{ talk.getTitle | raw }} - {{ event.getName }} - Joind.in{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript">
        $('#rating_widget').bind('over', function (event, value) {
            if (value) {
                $("#rating_value").html($("#rating option[value='"+value+"']").text());
            } else {
                $("#rating_value").html($("#rating option:selected").text())
            }
        });
        $('#rating_widget').bind('rated', function (event, value) { $("#rating_value").html($("#rating option[value='"+value+"']").text()) });
        $("#comment").keyup(function(e) {
            var offset = this.offsetHeight - this.clientHeight;
            $(this).css('height', 'auto').css('height', this.scrollHeight + offset);
        });
    </script>
{% endblock %}

{% block body %}
    {% include 'Talk/_common/talk_header.html.twig' %}
    <section>
        <p>{{ talk.getDescription | nl2br }}</p>
        {% if canEditTalk|default(false) %}
        <p>
            <a href="{{ urlFor('talk-edit', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}" class="btn btn-default btn-xs" >Edit talk</a>
            <a href="{{ urlFor('talk-delete', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}" class="btn btn-danger btn-xs" >Delete talk</a>
        </p>
        {% endif %}

    </section>

    <section id="comments">
        <h2>Comments</h2>
        {% if talk.areCommentsEnabled %}
            {% if flash.getMessages.message %}
                <div class="alert alert-success">{{flash.getMessages.message}}</div>
            {% endif %}
            <div class="row" id="add-comment">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                    {% if user %}
                        <div class="panel-heading">
                            <h2 class="panel-title">Write a comment</h2>
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="{{ urlFor('talk-add-comment', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}">
                                {% if flash.getMessages.error %}
                                    <div class="alert alert-danger">{{flash.getMessages.error}}</div>
                                {% endif %}
                                {% if canRateTalk %}
                                    <div class="rating-vote-container">
                                        <div id="rating_container" class="form-group">
                                            <label for="rating">Rate the talk:</label>
                                            <select id="rating" name="rating">
                                                <option value="0"></option>
                                                <option value="1"{% if (flash.getMessages.rating and flash.getMessages.rating == 1) %} selected="selected"{% endif %}>Needed more work</option>
                                                <option value="2"{% if (flash.getMessages.rating and flash.getMessages.rating == 2) %} selected="selected"{% endif %}>Had potential</option>
                                                <option value="3"{% if (flash.getMessages.rating and flash.getMessages.rating == 3) %} selected="selected"{% endif %}>Worth hearing</option>
                                                <option value="4"{% if (flash.getMessages.rating and flash.getMessages.rating == 4) %} selected="selected"{% endif %}>Great info &amp; insight</option>
                                                <option value="5"{% if (flash.getMessages.rating and flash.getMessages.rating == 5) %} selected="selected"{% endif %}>Brilliant!</option>
                                            </select>
                                            <br>
                                            <div class="rateit" id="rating_widget" data-rateit-backingfld="#rating" data-rateit-starwidth="23" data-rateit-starheight="21" data-rateit-resetable="false"></div>
                                            <div id="rating_value"></div>
                                        </div>
                                    </div>
                                {% else %}
                                    <input type="hidden" id="rating" name="rating" value="1">
                                {% endif %}
                                <div class="form-group">
                                    <label for="comment">Your comment:</label>
                                    <textarea id="comment" class="form-control" name="comment" rows="7">{% if flash.getMessages.comment %}{{ flash.getMessages.comment }}{% endif %}</textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit comment</button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <p class="panel-body">Please <a href="#loginheader">login</a> to leave a comment</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>Comments are closed.</p>
        {% endif %}

        {% if comments %}
            {% for comment in comments %}
                {% include '_common/comment.html.twig' with {'comment': comment, 'talk': talk }%}
            {% endfor %}
        {% endif %}
    </section>

{% endblock %}


{% block topAside %}
{% if user and unclaimed|length > 0 %}
    <section>
        <h2>Claim talk</h2>
        {% if flash.getMessages.claimerror %}
            <div class="alert alert-danger">{{flash.getMessages.claimerror}}</div>
        {% endif %}
        {% if flash.getMessages.claimmessage %}
            <div class="alert alert-success">{{flash.getMessages.claimmessage}}</div>
        {% endif %}
        <p>Are you a speaker for this talk?</p>
        {% if ( unclaimed|length == 1 ) %}
            <form action="{{ urlFor('talk-claim', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}" method="post">
            <input type="hidden" name="display_name" value="{{ unclaimed.0 }}" />
            <p><button type="submit" class="btn btn-default">Claim talk</button></p>
            </form>
        {% else %}
            <p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#claimModal">Claim talk</button></p>
        {% endif %}
    </section>
    {# Temporary popup form the claim talk button #}
    <div class="modal fade" id="claimModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="claimModalLabel">Claim Talk</h2>
          </div>
          <div class="modal-body">
            <form action="{{ urlFor('talk-claim', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle}) }}" method="post">
                <p>Which speaker are you?</p>
                <select name="display_name">
                    {% for speaker in unclaimed %}
                        <option {% if speaker == user.name %} selected="selected" {% endif %} value="{{ speaker }}">{{ speaker }}</option>
                    {% endfor %}
                </select>
                <p><button type="submit" class="btn btn-default">Claim talk</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}

{% block extraAside %}
{% endblock %}
