<div class="eventCard" xmlns="http://www.w3.org/1999/html">
    <div class="logo">
        <a href="{{ event.website_uri }}">
            <img src="{{ event.icon|img_path("event_icons") }}" alt=" " />
        </a>
    </div>

    <h3 class="header">
        <a href="{{ event.website_uri }}">{{ event.name }}</a>
    </h3>

    <p class="meta">
        <strong>{{ event.start_date|format_date }}</strong> &ndash;
        <strong>{{ event.end_date|format_date }}</strong>
    </p>

    <p>{{ event.description | slice(0, 200)}}&hellip;</p>

    <p>tagged
        {% for tag in event.tags %}
            <a href="/event/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}

    </p>
    <p class="meta">
        <a href="{{ event.website_uri }}#comments">
            {{ event.event_comments_count }} comments
        </a>
        | {{ event.attending_message|escape }}
        <!--| <a href="" class="button">I'm attending</a>-->
    </p>
</div>
