{% extends '/layout.html.twig' %}

{% block body %}
    {% if user %}
        <h1 class="title">Change your password</h1>
        <p>
            This page allows you to change your password. Please enter your new password twice in the 
            form below.
        </p>
        {{ form_start(form, {'attr' : {'id' : 'password'} }) }}
        {{ form_errors(form) }}
        <div class="row">
            <fieldset class="col-sm-6">
                <legend>New password</legend>
                {{ form_row(form.password) }}
                {{ form_row(form.confirmPassword) }}
            </fieldset>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary pull-right" value="Change" />
            </div>
        </div>
        {{ form_end(form) }}
    {% else %}
        <h1>Login required</h1>
        <p>In order to change your password, please log in.</p>
    {% endif %}
{% endblock %}

