{% extends '/layout.html.twig' %}

{% block title %}Events {{ type }} by {{ thisUser.getFullname }} - Joind.in{% endblock %}

{% block body %}
    {% include 'User/profile-navigation.html.twig' %}
    <section class="user-profile-panels">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ type|capitalize }} events</h2>
                    </div>
                    <div class="panel-body">
                        {% for event in events %}
                            <section class="row">
                                <div class="logo text-center">
                                    <a href="{{ eventUrl }}">
                                        <img src="{{ event.getSmallImage }}">
                                    </a>
                                </div>
                                <div class="col-xs-10 title">
                                    <h3>
                                        <a href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}">
                                            {{ event.name }}
                                        </a>
                                        {% if event.getPending %}
                                            This event is still pending.
                                        {% endif %}
                                    </h3>
                                    <a href="{{ urlFor('event-edit', {"friendly_name": event.getUrlFriendlyName}) }}">Edit</a>
                                    <div>
                                        {% if event.getLocation %}
                                        at
                                        {{ event.getLocation }}</a>

                                        {% endif %}
                                        on {{ event.getStartDate|date('j M Y') }}
                                        {%  if event.getStartDate|date('j M Y', event.getFullTimezone)
                                                is not sameas(event.getEndDate|date('j M Y', event.getFullTimezone)) %}
                                            &ndash; {{ event.getEndDate|date('j M Y', event.getFullTimezone) }}

                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                        {% endfor %}
                        <p class="more">
                            <a href="{{ urlFor('user-profile', {'username': thisUser.getUsername}) }}">
                                View profile</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
