{% extends '/layout.html.twig' %}

{% block title %}Events {{ type }} by {{ thisUser.getFullname }} - Joind.in{% endblock %}

{% block body %}
    <section class="page-header">
        <div class="row user-profile">
            <div class="col-xs-12">
                <div class="pull-left">
                    <img src="{{ gravatar(thisUser.getGravatarHash, 100) }}">
                </div>
                <div>
                    <h2>{{ thisUser.getFullname }}</h2>
                    <section class="user-details">
                        {% if thisUser.getTwitterUsername %}
                            <p>
                                Twitter:
                                <a href="https://twitter.com/{{ thisUser.getTwitterUsername }}">
                                    @{{ thisUser.getTwitterUsername }}
                                </a>
                            </p>
                        {% endif %}

                        {% if thisUser.getBiography %}
                            <p>Bio: {{ thisUser.getBiography }}</p>
                        {% endif %}

                        <p class="more">
                            <a href="{{ urlFor('user-profile', {'username': thisUser.getUsername}) }}">
                                View profile
                            </a>
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </section>

    <section class="user-profile-panels">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ type|capitalize }} events</h2>
                    </div>
                    <div class="panel-body">
                        {% for event in events %}
                            <section class="row">
                                <div class="logo text-center">
                                    <a href="{{ eventUrl }}">
                                        <img src="{{ event.getSmallImage }}">
                                    </a>
                                </div>
                                <div class="col-xs-10 title">
                                    <h3><a href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}">{{ event.name }}</a></h3>
                                    <div>
                                        {% if event.getLocation %}
                                        at
                                        {{ event.getLocation }}</a>

                                        {% endif %}
                                        on {{ event.getStartDate|date('j M Y') }}
                                        {%  if event.getStartDate|date('j M Y', event.getFullTimezone)
                                                is not sameas(event.getEndDate|date('j M Y', event.getFullTimezone)) %}
                                            &ndash; {{ event.getEndDate|date('j M Y', event.getFullTimezone) }}

                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                        {% endfor %}
                        <p class="more">
                            <a href="{{ urlFor('user-profile', {'username': thisUser.getUsername}) }}">
                                View profile</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
