{% extends '/layout.html.twig' %}

{% block title %}Editing {{ thisUser.getFullname }} - Joind.in{% endblock %}

{% block body %}
    {% include 'User/profile-navigation.html.twig' %}
    {% if flash.getMessages.message %}
        <div class="alert alert-success">{{flash.getMessages.message | raw}}</div>
    {% endif %}
    {% if flash.getMessages.error %}
        <div class="alert alert-danger">{{flash.getMessages.error | raw}}</div>
    {% endif %}

    {# <h1>Edit your profile</h1> #}
    <section>

        {{ form_start(form, {'attr' : {'id' : 'event'} }) }}
            {{ form_errors(form) }}
            <div class="row">
                <fieldset class="col-sm-6">
                    <h2>Edit profile</h2>
                </fieldset>
                {% if can_change_password %}
                <fieldset class="col-sm-6">
                    <h2>Change password</h2>
                    <p>If you wish to change your password, please enter your current
                        password and then then the new one.</p>
                </fieldset>
                {% endif %}
            </div>
            <div class="row">
                <fieldset class="col-sm-6">
                    {{ form_row(form.full_name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.twitter_username) }}
                    {{ form_row(form.biography) }}
                </fieldset>
                {% if can_change_password %}
                <fieldset class="col-sm-6">
                    {{ form_row(form.old_password) }}
                    {{ form_row(form.password) }}
                </fieldset>
                {% endif %}
            </div>

            <div class="row">
                {% set class = 'col-sm-6' %}
                {% if can_change_password %}
                    {% set class = 'col-sm-12' %}
                {% endif %}

                <div class="{{ class }}">
                    {% if user.admin %}
                        <a onclick="return confirm('Are you sure you want to delete this user?');" href="{{ urlFor('user-profile-delete', {'username': thisUser.getUsername}) }}" name="delete" class="btn btn-danger pull-right button-spacer">Delete User</a>
                    {% endif %}
                    <input type="submit" name="submit" class="btn btn-primary pull-right button-spacer" value="Save" />
                    <input type="submit" name="submit" class="btn btn-primary pull-right button-spacer" value="Cancel" />
                </div>
            </div>


        {{ form_end(form) }}
    </section>

{% endblock %}
