{% extends '/layout.html.twig' %}

{% block body %}
            {% include 'Event/_common/event_header.html.twig' %}
            <p>{{ event.getDescription|nl2br }}</p>
{% endblock %}


{% block extraAside %}
    {% if event.getStub or event.getWebsiteAddress %}
        <section class="short-url">
    {% endif %}
    {% if event.getStub  %}
            <label class="control-label">Short URL:</label>
            <br>
            <i class="fa fa-external-link-square"></i>
            <a href="{{ shortUrlForEvent(event.getStub) }}">
                {{ shortUrlForEvent(event.getStub) }}
            </a>
    {% endif %}
    {% if event.getWebsiteAddress %}
        <div class="extraAside">
            <p>
                <label>Event Website:</label>
                <br>
                <i class="fa fa-external-link-square"></i>
                <a href="{{ event.getWebsiteAddress }}" rel="nofollow">
                    {{ event.getWebsiteAddress }}
                </a>
            </p>
        </div>
    {% endif %}
    {% if event.getStub or event.getWebsiteAddress %}
        </section>
    {% endif %}

{% endblock %}

{% block extra_meta %}
    {{ parent() }}
    <link rel="canonical" href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}" />
    {% if event.getStub %}<link rel="shortlink" href="{{ shortUrlForEvent(event.getStub) }}" />{% endif %}
{% endblock %}
