{% extends '/layout.html.twig' %}

{% block title %}{{ event.getName }} - Joind.in{% endblock %}
    
{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    <div class="panel panel-default" style="border:none">
          {# <div class="panel-body"> #}
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {% if event.getTags %}
                        <div class="tags">
                        {% for tag in event.getTags %}
                            <a href="{{ urlFor('search-events') }}?tag={{ tag }}">
                                <span class="label label-default">{{ tag }}</span>
                            </a>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% if event.getAttendeeCount %}
                        {{ event.getAttendeeCount|escape }}</span> people
                        {% if event.isPastEvent() %}attended{% else %}attending{% endif %}
                    {% endif %}

                    <br>Host{% if event.hosts|length != 1 %}s{% endif %}:
                    {% for host in event.hosts %}
                        {% set comma = "" %}
                        {% if not loop.last %}
                            {% set comma = "," %}
                        {% endif %}

                        {% if host.username %}
                            <a href="{{ urlFor('user-profile', {'username': host.username}) }}">{{ host.host_name }}</a>{{comma}}
                        {% else %}
                            {{ host.host_name }}{{comma}}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-xs-12 col-sm-6">
                    Event Website: <a href="{{ event.getWebsiteAddress }}" rel="nofollow">{{ event.getWebsiteAddress }}</a> <i class="fa fa-external-link-square"></i>
                    <br>
                    Short URL: <a href="{{ shortUrlForEvent(event.getStub) }}">{{ shortUrlForEvent(event.getStub) }}</a> <i class="fa fa-external-link-square"></i>
                </div>
            {# </div> #}
        </div>
    </div>

    <p>{{ event.getDescription|nl2br }}</p>


    {% if event.getLatitude != '0' and event.getLongitude != '0' %}
        <div id="streetmap" style="border: 1px solid black; height: 300px;"></div>
    {% endif %}


    {# display agenda #}
    {% if agenda|length %}
    <div class="agenda">
        <h2>Agenda</h2>
        {% for date,days in agenda %}
            <h3>{{  date|date('l jS F Y') }}</h3>
            <table class="table table-condensed">
            {% for time,talks in days %}
                {% for talk in talks %}
                    <tr>
                        <td class="time col-xs-1">
                            {% if loop.first %}{{ time|replace({' ': '&nbsp;'})|raw }}{# -{{ talk.EndDateTime|date('H:i') }} #}{% endif %}
                        </td>
                        <td class="agenda-cell">
                            <div class="talk-info">
                                {% include '_common/rating.html.twig' with {'rating': talk.getAverageRating, 'style': 'vertical', 'size': 'small', 'include_rating_placeholder': true} %}

                                <span class="slides">
                                    {% if talk.slidesLink %}
                                        <a target="new" title="Slides for this session" href="{{ talk.slidesLink }}">
                                            <img src="/img/icon-slides.gif" alt="Slides for this session">
                                    </a>
                                    {% endif %}
                                </span>
                                
                                <span class="comment-count">
                                    <a href="{{ urlForTalk(event.getUrlFriendlyName, talk.getUrlFriendlyTalkTitle) }}">{{ talk.commentCount }}</a>
                                </span>
                            </div>
                            
                            {% if user %}
                            <div id="{{ event.getUrlFriendlyName }}/{{ talk.getUrlFriendlyTalkTitle }}" class="star-wrapper">
                                <a href="javascript:" class="star{% if talk.starred %} starred{% endif %}">{% if talk.starred %}&#10029;{% else %}&#10025;{% endif %}</a>
                            </div>
                            {% endif %}
                            <a href="{{ urlForTalk(event.getUrlFriendlyName, talk.getUrlFriendlyTalkTitle) }}">{{ talk.title }}</a>

                            {% if talk.speakers %}
                                <br><span class="lowlight">{{ talk.getType }} by</span>
                                {% for speaker in talk.speakers %}
                                    <span class="speaker">
                                        {% set comma = "" %}
                                        {% if not loop.last %}
                                            {% set comma = "," %}
                                        {% endif %}

                                        {% if speaker.username %}
                                            <a href="{{ urlFor('user-profile', {'username': speaker.username}) }}">{{ speaker.speaker_name }}</a>{{comma}}
                                        {% else %}
                                            {{ speaker.speaker_name }}{{comma}}
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                            {% if talk.tracks %}
                                <span class="track"><span class="lowlight">in</span> {{ talk.tracks.0.track_name }}</span>
                            {% endif %}
                            {% if talk.duration %}
                                <span class="lowlight">({{ prettyDuration(talk.duration)|replace({' ': '&nbsp;'})|raw }})</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        {% endfor %}
    </div>
    {% endif %}


{% endblock %}

{% block extraAside %}
{% endblock %}

{% block extra_meta %}
    {{ parent() }}
{% endblock %}

{% block extra_styles %}
<link href="/leaflet/leaflet.css" rel="stylesheet">
<!--[if lte IE 8]><link rel="stylesheet" href="/leaflet/leaflet.ie.css" /><![endif]-->
{% endblock %}

{% block extra_javascript %}
    <!-- leaflet -->
    <script type="text/javascript" src="/leaflet/leaflet.js"></script>
    <script>
        /** OpenStreetMap */
        var map = L.map('streetmap').setView([{{ event.getLatitude }}, {{ event.getLongitude }}], 14);
        L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([{{ event.getLatitude }}, {{ event.getLongitude }}]).addTo(map)
                .bindPopup('<b>{{ location.finalName }}</b>');
    </script>
{% endblock %}
