{% extends '/layout.html.twig' %}

{% block extra_styles %}
<link href="/leaflet/leaflet.css" rel="stylesheet">
<!--[if lte IE 8]><link rel="stylesheet" href="/leaflet/leaflet.ie.css" /><![endif]-->
{% endblock %}

{% block extra_javascript %}
    <!-- leaflet -->
    <script type="text/javascript" src="/leaflet/leaflet.js"></script>
    <script>
        /** OpenStreetMap */
        var map = L.map('streetmap').setView([{{ event.getLatitude }}, {{ event.getLongitude }}], 14);
        L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([{{ event.getLatitude }}, {{ event.getLongitude }}]).addTo(map)
                .bindPopup('<b>{{ location.finalName }}</b>');
    </script>
{% endblock %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    <div id="streetmap" style="border: 1px solid black; height: 300px;">
    </div>
{% endblock %}

