{% extends 'Event/_common/layout_event_details.html.twig' %}

{% block extra_javascript %}{% endblock %}

{% block title %}{{ event.getName }} pending talk claims - Joind.in{% endblock %}
{% block extraAside %}
<section>
    {% include 'Event/_common/event_details.html.twig' %}
</section>
{% endblock %}

{% block body %}

    {% include 'Event/_common/event_header.html.twig' %}

    <div class="row">
        <div class="col-xs-6">
            <h2>Pending Talk Claims</h2>
        </div>
    </div>

    {% if claims|length %}

    <div class="agenda">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Talk</th>
                    <th>Display Name</th>
                    <th>Claimed By</th>
                    <td></td>
                </tr>
            </thead>
            {% for claim in claims %}
            <tr>
                <td class="col-sm-4">
                    {{ claim.talk.getTitle() }}
                </td>
                <td class="col-sm-2">
                    {{ claim.display_name }}
                </td>
                <td class="col-sm-2">
                    <a href="{{ claim.user.getWebsiteUri() }}">{{ claim.user.getFullName() }}</a>
                </td>
                <td class="agenda-cell">
                    {% if claim.approved is defined %}
                        <strong>Claim {{ claim.approved ? 'Approved' : 'Rejected' }}</strong>
                    {% else %}
                    <form action="" method="post">
                        <input type="hidden" name="talk" value="{{ claim.talk.getStub() }}" />
                        <input type="hidden" name="display_name" value="{{  claim.display_name }}" />
                        <input type="hidden" name="username" value="{{ claim.user.getUsername() }}" />
                        <button type="submit" class="btn btn-sm btn-success" name="action" value="approve">Approve</button>
                        <button type="submit" class="btn btn-sm btn-warning" name="action" value="reject">Reject</button>
                    </form>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% else %}
    <p>There are no pending talk claims currently.</p>
    {% endif %}

{% endblock %}
