{% extends 'Event/_common/layout_event_details.html.twig' %}

{% block extra_javascript %}{% endblock %}

{% block title %}{{ event.getName }} schedule - Joind.in{% endblock %}
{% block extraAside %}
<section>
    {% include 'Event/_common/event_details.html.twig' %}
</section>
{% endblock %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    {# Display the first paragraph of the description above the schedule #}
    {% set paragraphs = event.getDescription | split("\n") %}
    <p>{{ paragraphs[0] }}</p>

    <div class="row">
        <div class="col-xs-6">
            <h2>Schedule</h2>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group" role="group" aria-label="Style">
                <a class="btn btn-default" href="{{ urlFor('event-schedule-list', {"friendly_name": event.getUrlFriendlyName, starred: starred}) }}">List</a>
                <a class="btn btn-default active" href="{{ urlFor('event-schedule-grid', {"friendly_name": event.getUrlFriendlyName, starred: starred}) }}">Grid</a>
            </div>
            <div class="btn-group" role="group" aria-label="Style">
                <a class="btn btn-default {% if not starred_only %}active{% endif %}" href="{{current_url}}">All sessions</a>
                <a class="btn btn-default {% if starred_only %}active{% endif %}" href="{{current_url}}/starred">Starred only</a>
            </div>
        </div>
    </div>

    {% if eventDays %}
    <div>
        <label>Sessions Key</label>

        <div class="row">
            <div class="col-xs-12">
                <div class="talk-type-keynote key">Keynote</div>
                <div class="talk-type-talk key">Talk</div>
                <div class="talk-type-workshop key">Workshop</div>
                <div class="talk-type-socialevent key">Social</div>
                <div class="talk-type-eventrelated key">Event Related</div>
            </div>
        </div>

        {% for day in eventDays %}
        <h1>{{ day.date }}</h1>
        <table class="schedule table table-bordered">
            <thead>
            <tr>
                {# time column on left side of table #}
                <th></th>
                {% if day.tracks %}
                    {% for track in day.tracks %}
                    <th>{{ track }}</th>
                    {% endfor %}
                {% else %}
                    <th>Sessions</th>
                {% endif %}
                {# if multi-track, repeat time column on right side of table #}
                {% if day.tracks|length > 1 %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% set trackCellHTMLMap = [] %}
            {% set titleTrackMap = [] %}
            {% set titleTypeMap = [] %}
            {% for time, talks in day.talks %}
            {% set talksnow = 0 %}
                {% for talk in talks %}
                    {% if not starred_only or talk.starred %}
                        {% set talksnow = talksnow+1 %}
                    {% endif %}
                {% endfor %}
                {% set has_talk_for_time_slot = false %}
                <tr>
                {% if day.tracks|length <= 1 %}
                    {% set has_time = false %}
                    {% for talk in talks %}
                        {% if not starred_only or talk.starred %}
                        {% if not has_time %}
                        <th class="time col-xs-2 col-sm-1" rowspan="1">{{ time }}</th>
                        {% set has_time = true %}
                        {% endif %}
                        {% set cell %}
                            {% include '/Event/_common/schedule_cell.html.twig' %}
                        {% endset %}
                        <td class="{{ talk.getTypeClass }} col-xs-10">{{ cell }}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% set has_time = false %}
                    {% for talk in talks %}

                        {% if not has_time %}
                        <th class="time col-xs-2 col-sm-1" rowspan="1">{{ time }}</th>
                        {% set has_time = true %}
                        {% set has_talk_for_time_slot = true %}
                        {% endif %}
                        {% if not starred_only or talk.starred %}
                        {# build an array of tracks the talk is in #}
                        {% set actualTracks = [] %}
                        {% for talkTrack in talk.tracks %}
                            {%  set actualTracks = actualTracks|merge({ (loop.index0): talkTrack.track_name}) %}
                        {% endfor %}

                        {# skip keynote talks, as they will span all tracks (columns) #}
                        {% if talk.type|lower != "keynote" and talk.type|lower != "social event" %}
                            {% for track in day.tracks %}
                                {% if track in actualTracks %}
                                    {# if track is a number, Twig won't allow this value
                                       to be used as an array key, so append an empty space
                                       to make Twig think it is a string #}
                                    {% set trackName = track~" " %}
                                    {% set title = talk.title %}
                                    {% set cell %}
                                        <td class="{{ talk.getTypeClass }}">
                                            {% include '/Event/_common/schedule_cell.html.twig' %}
                                        </td>
                                    {% endset %}
                                    {% set trackCellHTMLMap = trackCellHTMLMap|merge({ (trackName) : cell }) %}
                                    {% set titleTrackMap = titleTrackMap|merge({  (talk.url_friendly_talk_title)  : trackName }) %}
                                    {% set titleTypeMap = titleTypeMap|merge({ (talk.url_friendly_talk_title) : talk.type }) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# if a talk has no tracks, or is a Keynote, span all tracks (columns) in table #}
                        {% if talk.tracks|length == 0 or talk.type|lower == "keynote" or talk.type|lower == "social event" %}
                            <td class="{{ talk.getTypeClass }}" colspan={{ day.tracks|length }}>
                                {% include '/Event/_common/schedule_cell.html.twig' %}
                            </td>
                        {% endif %}
                        {% else %}
                        {% endif %}
                    {% endfor %}

                    {# if a trackCellHTMLMap array was created for the current time slot, output column cells #}
                    {% for track in day.tracks if trackCellHTMLMap  %}
                        {# again, ensure trackName is a string value #}
                        {% set trackName = track~" " %}
                        {% if trackName in titleTrackMap %}
                            {{ trackCellHTMLMap[trackName] }}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}

                    {# reset map arrays for next loop iteration #}
                    {% set trackCellHTMLMap = [] %}
                    {% set titleTrackMap = [] %}
                    {% set titleTypeMap = [] %}
                    {% if has_talk_for_time_slot %}
                    <th class="time col-xs-2 col-sm-1" rowspan="1">{{ time }}</th>
                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% else %}
    <p>This event does not have a schedule.</p>
    {% endif %}

{% endblock %}
