{% extends '/layout.html.twig' %}

{% block extra_javascript %}{% endblock %}

{% block body %}
    {% include 'Event/_common/event_header.html.twig' %}

    <div>
        <label>Sessions Key</label>
        <table class="key table table-bordered">
            <tr>
                <td class="talk-type-keynote key">Keynote</td>
                <td class="talk-type-talk key">Talk</td>
                <td class="talk-type-workshop key">Workshop</td>
                <td class="talk-type-socialevent key">Social</td>
                <td class="talk-type-eventrelated key">Event Related</td>
            </tr>
        </table>

        {% for day in eventDays %}
        <h1>{{ day.date }}</h1>
        <table class="schedule table table-bordered">
            <thead>
            <tr>
                {# time column on left side of table #}
                <th></th>
                {% if day.tracks %}
                    {% for track in day.tracks %}
                    <th>{{ track }}</th>
                    {% endfor %}
                {% else %}
                    <th>Sessions</th>
                {% endif %}
                {# if multi-track, repeat time column on right side of table #}
                {% if day.tracks|length > 1 %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% set trackCellHTMLMap = [] %}
            {% set titleTrackMap = [] %}
            {% set titleTypeMap = [] %}
            {% for time, talks in day.talks %}
                <tr>
                {% if day.tracks|length <= 1 %}
                   <th class="time col-xs-2 col-sm-1" rowspan="{{ talks|length }}">{{ time }}</th>
                    {% for talk in talks %}
                        {% set cell %}
                            {% include '/Event/_common/schedule_cell.html.twig' %}
                        {% endset %}
                        <td class="{{ talk.getTypeClass }} col-xs-10">{{ cell }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <th class="time col-xs-2 col-sm-1">{{ time }}</th>
                    {% for talk in talks %}
                        {# build an array of tracks the talk is in #}
                        {% set actualTracks = [] %}
                        {% for talkTrack in talk.tracks %}
                            {%  set actualTracks = actualTracks|merge({ (loop.index0): talkTrack.track_name}) %}
                        {% endfor %}

                        {# skip keynote talks, as they will span all tracks (columns) #}
                        {% if talk.type != "Keynote" %}
                            {% for track in day.tracks %}
                                {% if track in actualTracks %}
                                    {# if track is a number, Twig won't allow this value
                                       to be used as an array key, so append an empty space
                                       to make Twig think it is a string #}
                                    {% set trackName = track~" " %}
                                    {% set title = talk.title %}
                                    {% set cell %}
                                        <td class="{{ talk.getTypeClass }}">
                                            {% include '/Event/_common/schedule_cell.html.twig' %}
                                        </td>
                                    {% endset %}
                                    {% set trackCellHTMLMap = trackCellHTMLMap|merge({ (trackName) : cell }) %}
                                    {% set titleTrackMap = titleTrackMap|merge({  (title)  : trackName }) %}
                                    {% set titleTypeMap = titleTypeMap|merge({ (title) : talk.type }) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# if a talk has no tracks, or is a Keynote, span all tracks (columns) in table #}
                        {% if talk.tracks|length == 0 or talk.type == "Keynote" %}
                            <td class="{{ talk.getTypeClass }}" colspan={{ day.tracks|length }}>
                                {% include '/Event/_common/schedule_cell.html.twig' %}
                            </td>
                        {% endif %}
                    {% endfor %}

                    {# if a trackCellHTMLMap array was created for the current time slot, output column cells #}
                    {% for track in day.tracks if trackCellHTMLMap  %}
                        {# again, ensure trackName is a string value #}
                        {% set trackName = track~" " %}
                        {% if trackName in titleTrackMap %}
                            {{ trackCellHTMLMap[trackName] }}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}

                    {# reset map arrays for next loop iteration #}
                    {% set trackCellHTMLMap = [] %}
                    {% set titleTrackMap = [] %}
                    {% set titleTypeMap = [] %}
                    <th class="time col-xs-2 col-sm-1">{{ time }}</th>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
{% endblock %}