{% extends '/layout.html.twig' %}

{% block body %}
    {% if user %}
        <style>
            label.required:after {
                content: ' *'
            }
        </style>
        <h1 class="title">Submit a new event</h1>
        <p>
            Submit your event here to be included on joind.in. All events must be approved by our team of volunteers
            before they appear on the site. The site is aimed at events with sessions, where organisers are looking to
            use this as a tool to gather feedback.
        </p>
        <p>
            Please supply a description of your event in English, we will consider which events fit our intended
            criteria (community event, clear description, intent to gather feedback) before approving; you may
            <a href="{{ urlFor('about') }}">contact us</a> if you have any questions.
        </p>

        {{ form_start(form, {'attr' : {'id' : 'event'} }) }}
        {{ form_errors(form) }}
        <div class="row">
            <fieldset class="col-sm-6">
                <legend>Event information</legend>
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.href) }}
            </fieldset>
            <fieldset class="col-sm-6">
                <legend>Date and time</legend>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.tz_continent) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.tz_place) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    {{ form_row(form.start_date) }}
                    </div>
                    <div class="col-sm-6">
                    {{ form_row(form.end_date) }}
                    </div>
                </div>
            </fieldset>
            <fieldset class="col-offset-sm-6 col-sm-6">
                <legend>Call for papers</legend>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.cfp_start_date) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.cfp_end_date) }}
                    </div>
                </div>
                {{ form_row(form.cfp_url) }}
            </fieldset>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary pull-right" value="Submit" />
            </div>
        </div>
        {{ form_end(form) }}
    {% else %}
        <h1>Login</h1>
        {{ include('_common/login.html.twig') }}
    {% endif %}
{% endblock %}

{% block extraAside %}
    <h3>Submission tips</h3>
    <p>
        Here's a few useful definitions when submitting events:
    </p>
    <dl>
        <dt>English</dt>
        <dd>
            Please ensure that the description is in English with a translation below if required.
        </dd>
    </dl>
    <dl>
        <dt>Call for Papers</dt>
        <dd>
            If your event is going to have a time for session submissions, please enter the dates
            that your Call for papers opens and closes. This will show in the event detail page.
        </dd>
    </dl>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        {# /* Ensure that we don't forget the current city when we initialise the city list
           for the current continent */ #}
        var current_city = $("#event_tz_place").val();
        $("#event_tz_place").html('<option value="">Select a city</option>');
        update_city_list($("#event_tz_continent").val());
        if (current_city.length > 1) {
            $("#event_tz_place").val(current_city);
        }

        $("#event_tz_continent").change(function() {
            update_city_list($(this).val());
        });

        function update_city_list(val)
        {
            switch(val){
                {% for continent, cities in timezones %}

                case "{{continent}}":
                     populate_city_select([{{cities|raw}}]);
                    break;
                {% endfor %}

                default: //default child option is blank
                    $("#event_tz_place").html('<option value="">Select a city</option>');
                    break;
            }
        }

        function populate_city_select(cities)
        {
            $("#event_tz_place").html('<option value="">Select a city</option>');
            $(cities).each(function (i) {
                $("#event_tz_place").append('<option value="' + cities[i] + '">' + cities[i] + '</option>');
            });
        }
    </script>
{% endblock %}
