{% extends '/layout.html.twig' %}

{% block title %}ApiKeys - Joind.in{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ urlFor('user-profile', {'username': user.getUsername}) }}">{{ user.getFullName }}</a></li>
        <li class="active">API-keys</li>
    </ol>

    <section id="apps">
        <h2>My API-keys</h2>
        <p>Displaying records {{ from }} to {{ to }} of {{ pagination.total }}</p>
        <table class="table">
            <thead>
                <th>Application</th>
                <th>last used</th>
                <th>&nbsp;</th>
            </thead>
        {% if keys %}
            <tbody>
            {% for key in keys %}
                <tr>
                    <td>
                        {{ key.getApplicationName }}
                    </td><td>
                        {{ key.getLastUsedDateTime | date('d.m.Y H:i:s') }}
                    </td><td>
                        <a class="btn btn-danger btn-xs" href="{{ urlFor('apikey-delete', {'apikey': key.getId, 'username' : user.getUsername }) }}">
                            Delete Api-Key
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        {% if pagination.total > perPage %}
            {% include '_common/pagination.html.twig' with {'pagination': pagination, 'perPage': perPage, 'page': page} %}
        {% endif %}
    </section>

{% endblock %}


{% block topAside %}
{% endblock %}

{% block extraAside %}
{% endblock %}
