{% extends '/layout.html.twig' %}

{% block title %}3rd party-App {{ client.getName |default('Unnamed') }}- Joind.in{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="/client">Clients</a></li>
        <li class="active">Client {{ client.getName }}</li>
    </ol>

    <section id="apps">
        <h2>Details for App {{ client.getName | default('Unnamed') }}</h2>
        {% include 'Client/_common/client.html.twig' with {'client': client }%}
        <a href="{{ urlFor('client-edit', {'clientName' : client.getId}) }}" class="btn btn-default pull-right">Edit</a>
        <a href="{{ urlFor('client-delete', {'clientName' : client.getId}) }}" class="btn btn-danger pull-right">Delete</a>
    </section>

{% endblock %}


{% block topAside %}
{% endblock %}

{% block extraAside %}
{% endblock %}
