{%
set talkUrl = urlFor(
    'talk-quicklink', {"talkStub": talk.getStub}
)
%}
{%
set eventUrl = urlFor(
    'event-detail', {"friendly_name": event.getUrlFriendlyName}
)
%}

<article class="talk row">
    <div class="col-xs-12 title">
        <section>
            <h3 class="header">
                <a href="{{ talkUrl }}">{{ talk.getTitle }}</a>
            </h3>

            {% include '_common/rating.html.twig' with {'rating': talk.getAverageRating, 'style': 'vertical'} %}

            <p class="meta">
                {{ talk.getStartDateTime|date('M d Y') }}

                at
                <a href="{{ eventUrl }}">{{ event.getName }}</a>

                |

                <a href="{{ talkUrl }}#comments">
                    {{ talk.getCommentCount}}
                    {% if talk.getCommentCount == 1 %}
                        comment
                    {% else %}
                        comments
                    {% endif %}
                </a>

                {% if talk.getSpeakers %}
                    <br/>
                    by
                    {% for speaker in talk.getSpeakers %}
                        {{ speaker.speaker_name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </section>
    </div>
</article>
