<div class="page-header">
    <div class="row event">
        <div class="col-xs-12 col-sm-12 title">
            <h1>
                {{ talk.getTitle | raw }}
                {% if user %}
                    <span id="{{ event.getUrlFriendlyName }}/{{ talk.getUrlFriendlyTalkTitle }}" class="star-wrapper">
                        <a href="javascript:" class="talk star{% if talk.getStarred %} starred{% endif %}">{% if talk.starred %}&#10029;{% else %}&#10025;{% endif %}</a>
                    </span>
                {% endif %}
            </h1>
            <div class="row">
                <div class="col-xs-8">
                    {% if talk.getSpeakers %}
                        <h3>
                            {% for speaker in talk.getSpeakers %}
                                {% set comma = "" %}
                                {% if not loop.last %}
                                    {% set comma = "," %}
                                {% endif %}

                                {% if speaker.username %}
                                    <a href="{{ urlFor('user-profile', {'username': speaker.username}) }}">{{ speaker.speaker_name }}</a>
                                    {% if canEditTalk %}
                                        <a onclick="return confirm('Are you sure you want to unlink this speaker from this talk?')" href="{{ urlFor('unlink-speaker', {'eventSlug': event.getUrlFriendlyName, 'talkSlug': talk.getUrlFriendlyTalkTitle, 'username': speaker.username }) }}"><small>(unlink)</small></a>
                                    {% endif %}
                                    {{ comma }}
                                {% else %}
                                    {{ speaker.speaker_name }}{{comma}}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    {% endif %}
                    <h4>
                        {{ talk.getStartDateTime()|date('l j F Y \\a\\t H:i', event.getFullTimezone) }}
                    </h4>

                    <p>
                        {{ talk.getType }} in {{ talk.language }} at <a href="{{ urlFor('event-schedule', {"friendly_name": event.getUrlFriendlyName}) }}">{{ event.getName }}</a>

                        {% for media in talk.talk_media %}
                            <br>
                            {% if media.slides_link is defined %}
                            View Slides: <a href="{{ media.slides_link }}">{{ media.slides_link }}</a> <i class="fa fa-external-link-square"></i>
                            {% endif %}
                            {% if media.video_link is defined %}
                            View Video: <a href="{{ media.video_link }}">{{ media.video_link }}</a> <i class="fa fa-video-camera" aria-hidden="true"></i>
                            {% endif %}
                            {% if media.audio_link is defined %}
                            Download Audio: <a href="{{ media.audio_link }}">{{ media.audio_link }}</a> <i class="fa fa-headphones" aria-hidden="true"></i>
                            {% endif %}
                            {% if media.code_link is defined %}
                            Checkout the code: <a href="{{ media.code_link }}">{{ media.code_link }}</a> <i class="fa fa-code" aria-hidden="true"></i>
                            {% endif %}
                            {% if media.joindin_link is defined %}
                            View previous talk: <a href="{{ media.joindin_link }}">{{ media.joindin_link }}</a> <i class="fa fa-code" aria-hidden="true"></i>
                            {% endif %}
                        {% endfor %}


                        <br>
                        Short URL: <a href="{{ shortUrlForTalk(talk.getStub) }}">{{ shortUrlForTalk(talk.getStub) }}</a>
                        (<a class="qr-code" href="{{ qrcode(shortUrlForTalk(talk.getStub)) }}" target="_blank">QR-Code (opens in new window)</a>)
                    </p>
                </div>
                <div class="col-xs-4 text-right">
                    <div style="margin-top: 10px">
                        {% if talk.getAverageRating %} Avg. Rating
                        {% include '_common/rating.html.twig' with {'rating': talk.getAverageRating, 'style': 'vertical'} %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
