<div class="page-header">
    <div class="row event">
        <div class="col-xs-12 col-sm-2 logo text-center">
            <img src="{{ event.getIcon|img_path("event_icons") }}">
        </div>
        <div class="col-xs-12 col-sm-10 title">
            <h1>
                {{ event.getName }}
                <br>
                <small>

                    {{ dateRange(event.getStartDate, event.getEndDate, 'j M Y') }}

                    at <a href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}#streetmap">{{ event.getLocation }}</a>

                </small>
            </h1>
        </div>
    </div>
    {% include 'Event/_common/event_nav.html.twig' %}
</div>
