<h2 class="title">
    <img
            src="{{ event.getIcon|img_path("event_icons") }}"
            alt=" "
            class="logo"/>
    {{  event.getName }}

    <p class="meta">
        {{ event.getStartDate|date('M d Y') }}
        {%  if event.getStartDate|date('M d Y')
        is not sameas(event.getEndDate|date('M d Y')) %}
            &ndash; {{ event.getEndDate|date('M d Y') }}
        {% endif %} at <a href="{{ urlFor('event-map', {"friendly_name": event.getUrlFriendlyName}) }}">{{ event.getLocation }}</a>
    </p>
</h2>

<nav>
    <ul>
        <li><a href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}">Details</a></li>
        <li><a href="{{ urlFor('event-map', {"friendly_name": event.getUrlFriendlyName}) }}">Map</a></li>
        <li><a href="{{ urlFor('event-schedule', {"friendly_name": event.getUrlFriendlyName}) }}">Schedule</a></li>
    </ul>
</nav>
