<div class="page-header">
    <div class="row event">
        <div class="col-xs-12 col-sm-2 logo text-center">
            <img src="{{ event.getIcon|img_path("event_icons") }}">
        </div>
        <div class="col-xs-12 col-sm-10 title">
            <h1>
                {{ event.getName }}
                <br>
                <small>

                    {{ dateRange(event.getStartDate, event.getEndDate, 'j M Y') }}

                    at <a href="{{ urlFor('event-map', {"friendly_name": event.getUrlFriendlyName}) }}">{{ event.getLocation }}</a>

                    {% include 'Event/_common/attending.html.twig' %}
                </small>
            </h1>

            <div class="event-details">Host{% if event.hosts|length != 1 %}s{% endif %}:
                 {% for host in event.hosts %}
                    {% set comma = "" %}
                    {% if not loop.last %}
                        {% set comma = "," %}
                    {% endif %}

                    {% if host.username %}
                        <a href="{{ urlFor('user-profile', {'username': host.username}) }}">{{ host.host_name }}</a>{{comma}}
                    {% else %}
                        {{ host.host_name }}{{comma}}
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
    </div>
    <nav class="page-nav">
        <ul class="nav nav-pills">
            <li><a href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}">Details</a></li>
            <li><a href="{{ urlFor('event-schedule', {"friendly_name": event.getUrlFriendlyName}) }}">Schedule</a></li>
            <li><a href="{{ urlFor('event-comments', {"friendly_name": event.getUrlFriendlyName}) }}">Comments</a></li>
            <li><a href="{{ urlFor('event-talk-comments', {"friendly_name": event.getUrlFriendlyName}) }}">Recent comments</a></li>
            {% if event.getCanEdit %}
            <li><a href="{{ urlFor('event-edit', {"friendly_name": event.getUrlFriendlyName}) }}">Edit</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
