<div class="page-header">
    <div class="row event">
        <div class="col-xs-12 col-sm-2 logo text-center">
            <img src="{{ event.getIcon|img_path("event_icons") }}">
        </div>
        <div class="col-xs-12 col-sm-10 title">
            <h1>
                {{ event.getName }}
                <br>
                <small>

                    {{ dateRange(event.getStartDate, event.getEndDate, 'j M Y') }}

                    at <a href="{{ urlFor('event-detail', {"friendly_name": event.getUrlFriendlyName}) }}#streetmap">{{ event.getLocation }}</a>

                </small>
            </h1>
        </div>
    </div>
    <nav class="page-nav">
        <ul class="nav nav-pills">
            {% set event_sub_menu = [
                {"route":"event-detail", "name":"Details", "active_match": ['event-detail']},
                {"route":"event-schedule", "name":"Schedule",
                    "active_match": ['event-default', 'event-schedule-list', 'event-schedule-grid']},
                {"route":"event-comments", "name":"Event comments", "active_match": ['event-comments']},
                {"route":"event-talk-comments", "name":"Talk comments", "active_match": ['event-talk-comments']}
            ] %}

            {% for item in event_sub_menu %}
            <li class="{% if getCurrentRoute() in item.active_match %}active{% endif %}">
                <a href="{{ urlFor(item.route, {"friendly_name": event.getUrlFriendlyName}) }}">{{ item.name }}</a>
            </li>
            {% endfor %}

            {% if event.getCanEdit %}
            <li class="{% if getCurrentRoute() == 'event-edit' %}active{% endif %}">
                <a href="{{ urlFor('event-edit', {"friendly_name": event.getUrlFriendlyName}) }}">Edit</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
