<p><a href="{{ talk.absoluteWebsiteUrl|replace({'joind.in': baseUri}) }}">{{ talk.title }}</a></p>
<p>{% for speaker in talk.speakers %}
    <a href="{{ speaker.speaker_uri }}">
        <span class="speaker">
            {% if loop.last %}
                {{ speaker.speaker_name }}</a>
            {% else %}
                {{ speaker.speaker_name }}</a>,
            {% endif %}
        </span>
    {% endfor %}
</p>