<a href="{{ urlForTalk(event.getUrlFriendlyName, talk.getUrlFriendlyTalkTitle) }}">{{ talk.title }}</a>

<span class="talkSpeakers">
    {% for speaker in talk.speakers %}
        {% if speaker.speaker_uri %}
            <a href="{{ speaker.speaker_uri }}">{{ speaker.speaker_name }}</a>{{ (loop.last ? "" : ",") }}
        {% else %}
            {{ speaker.speaker_name }}{{ (loop.last ? "" : ",") }}
        {% endif %}
    {% endfor %}
</span>
