<p><a href="{{ urlForTalk(event.getUrlFriendlyName, talk.getUrlFriendlyTalkTitle) }}">{{ talk.title }}</a></p>
<p>{% for speaker in talk.speakers %}
    <span class="speaker">
        {% set comma = "" %}
        {% if not loop.last %}
            {% set comma = "," %}
        {% endif %}

        {% if speaker.speaker_uri %}
            <a href="{{ speaker.speaker_uri }}">{{ speaker.speaker_name }}</a>{{comma}}
        {% else %}
            {{ speaker.speaker_name }}{{comma}}
        {% endif %}
    </span>
    {% endfor %}
</p>
