{%
set eventUrl = urlFor(
    'event-detail', {"friendly_name": event.getUrlFriendlyName}
)
%}

<article class="event">
    <div class="col-xs-3 col-md-2 col-lg-2 logo">
        <a href="{{ eventUrl }}">
            <img src="{{ event.getIcon|img_path("event_icons") }}">
        </a>
    </div>
    <div class="col-xs-9 col-md-10 col-lg-10 title">
        <section>
            <h3 class="header">
                <a href="{{ eventUrl }}">{{ event.getName }}</a>
            </h3>

            <p class="meta">

            </p>

            <p class="wideOnly">
                {{ event.getDescription | slice(0, 200)}}&hellip;
            </p>

            <p class="meta">
                {{ event.getStartDate|date('M d Y') }}
                {%  if event.getStartDate|date('M d Y')
                        is not sameas(event.getEndDate|date('M d Y')) %}
                    &ndash; {{ event.getEndDate|date('M d Y') }}

                {% endif %}

                {% if event.getLocation %}
                    @ {{event.getLocation|escape}}
                {% endif %}

                |

                <a href="{{ eventUrl }}#comments">
                    {{ event.getCommentsCount}} comments
                </a>

                {% include 'Event/_common/attending_string.html.twig' %}

                {% include 'Event/_common/attending.html.twig' %}
            </p>
        </section>
    </div>
</article>
