<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Joind.in{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/main.css" rel="stylesheet">

    {#<link rel="shortcut icon" href="/images/favicon.ico">#}
    {#<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">#}
    {#<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">#}
    {#<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">#}
</head>

<body>
    <header id="head">
        <div class="userdetails">
        {% if user %}
            Welcome {{ user.full_name }}
            <a href="{{ urlFor('user-logout') }}">Logout</a>
        {% else %}
            <a href="{{ urlFor('user-login') }}">Login</a>
        {% endif %}

        </div>
        <nav>
            <ul>
                <li>
                    <h1>
                        <a href="/">
                            <img src="/img/logo.png"
                                 alt="Joind.in"
                                 class="respImage"
                                 width="120"
                                 height="30"/>
                        </a>
                    </h1>
                </li>

                <li>
                    <a href="/event">Events</a>
                </li>

            </ul>
        </nav>
    </header>

    <div id="wrapper">
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <aside id="aside">
            <section class="wideOnly">

                <form action="/search/events" method="get">
                    <input type="text" name="keyword" value="{{ keyword }}" placeholder="Search events or talks">
                    <button type="submit">Search</button>
                </form>

                <img src="/img/logo-combell.png" alt=" " />
                <p>
                    <a href="http://www.combell.com/en/servers/cloud-server">Cloud server</a>
                    <a href="http://www.combell.com/en">hosting</a> by Combell
                </p>
            </section>
        </aside>
    </div>

    <div id="foot">
        <a href="http://www.combell.com/en/servers/cloud-server">
            Cloud server
        </a>
        <a href="http://www.combell.com/en">hosting</a>
        by Combell
        <a href="http://www.combell.com/en">
            <img src="/img/logo-combell-small.gif"
                 alt="Combell"
                 height="22"
                 width="80"/ >
        </a>
    </div>
</body>
{% block extra_javascript %}{% endblock %}

{# Begin Google Analytics code #}
{% if 'live' == slim_mode %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
        _gaq.push(['_setDomainName', 'joind.in']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endif %}
{# End Google Analytics code #}
</html>
